
@{
    ViewBag.Title = "CreateInventory";
}

<h2>Crear Inventario</h2>

<h2 class="text-danger"> @ViewBag.Error </h2>
<h2 class="text-success"> @ViewBag.Confirmation</h2>

<form method="post" enctype="multipart/form-data">

    <input type="file" name="file">
    <br />
    <button type="submit">Subir</button>
</form>

<div>
    @Html.ActionLink("Crear Pedido","goCreateOrder","File");
</div>
