
@{
    ViewBag.Title = "CreateInventory";
}

<h2>Crear Inventario</h2>

<h2 class="text-danger"> @ViewBag.Error </h2>
<h2 class="text-danger"> @ViewBag.dontFile </h2>
<h2 class="text-success"> @ViewBag.Confirmation</h2>

<div>
    <form action="/File/CreateInventory" method="post" enctype="multipart/form-data"> 
        <input type="file" name="file">
        <br />
        <button type="submit">Subir</button>
    </form>
</div>
<div>
        @Html.ActionLink("Crear Pedido", "goCreateOrder", "File");
</div>


